#
# Format:
# KB TAB name of NER KB TAB tab-separated list species to consider for NER (all if empty)
#

# core entries from standard knowledge bases:
PFAM-families	Family
ProteinFamilies	Family	Human	Homo sapiens
uniprot-proteins	Gene_or_gene_product	Human	Homo sapiens
uniprot-subcellular-locations	Cellular_component
GO-subcellular-locations	Cellular_component
PubChem	Simple_chemical
InterPro-protein-domains	Site
bio_process	BioProcess
Species	Species
CellLine	CellLine
tissue-type	TissueType
CellType	CellType
Organ	Organ

# entries from Big Mechanism models:
biopax-cellular_component	Cellular_component
biopax-gene_or_gene_product	Gene_or_gene_product
biopax-simple_chemical	Simple_chemical

# manually added synonyms for entities; try to assign real IDs to these:
manual-family	Family
manual-cellular_component	Cellular_component
manual-gene_or_gene_product	Gene_or_gene_product
manual-simple_chemical	Simple_chemical

# Unused stuff:
# We were using ChEBI and HMDB for simple chemicals, replaced by PubChem:
# chebi Simple_chemical
# hmdb	Simple_chemical
