#
# Format:
# KB TAB name of NER KB TAB tab-separated list species to consider for NER (all if empty)
#

# core entries from standard knowledge bases:
hmdb	Simple_chemical
ProteinFamilies	Family	Human	Homo sapiens
tissue-type	CellType
uniprot-proteins	Gene_or_gene_product	Human	Homo sapiens
uniprot-subcellular-locations	Cellular_component
GO-subcellular-locations	Cellular_component
InterPro-protein-domains	Site
bio_process	BioProcess
Species	Species
Cell_Lines	CellLine
Organ	Organ
Cell_Type	CellType

# entries from Big Mechanism models:
biopax-cellular_component	Cellular_component
biopax-gene_or_gene_product	Gene_or_gene_product
biopax-simple_chemical	Simple_chemical

# manually added synonyms for entities; try to assign real IDs to these:
manual-family	Family
manual-cellular_component	Cellular_component
manual-gene_or_gene_product	Gene_or_gene_product
manual-simple_chemical	Simple_chemical

# unused stuff:
# we are using hmdb instead of chebi for simple chemicals
# chebi Simple_chemical


